
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  min-height: 100%;
  background-color: #fff;
}
#root {
  min-height: 100%;
  background-color: #f0efed;
  margin: 0 auto;
}
@media (min-width: 700px) {
  #root {
    width: 750px;
  }
  body {
    padding-bottom: 120px;
  }
}
